<div class="cls-content">
  <div style="width: 380px; margin-bottom: 10px; display: flex; gap: 10px">
    <select
      name=""
      id=""
      style="width: 220px"
      [(ngModel)]="sedeCurrent"
      (change)="changeSede($event)"
    >
      <option *ngFor="let sede of sedes" [value]="sede.idSede">
        {{ sede.nombre }}
      </option>
    </select>

    <nz-input-group
      nzSearch
      [nzAddOnAfter]="suffixIconButton"
      style="min-width: 180px"
    >
      <input
        [(ngModel)]="inputValue"
        type="text"
        nz-input
        placeholder="Ingrese el nombre"
      />
    </nz-input-group>

    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="findByName()">
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>

    <button
      title="Agregar usuario"
      style="padding: 0px 10px; height: 29px"
      (click)="toggleFormAdd()"
    >
      +
    </button>

    <button
      title="Agregar usuario"
      style="padding: 0px 10px; height: 29px"
      (click)="deleteUser(userSelected)"
      [disabled]="!userSelected"
      [ngClass]="{ 'cls-disabled': !userSelected }"
    >
      Eliminar
    </button>

    <div>
      <button *ngIf=""></button>
    </div>
  </div>

  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of basicTable.data"
        (click)="setUserCurrent(data)"
        [ngClass]="{
          'cls-row-selected': data.idUsuario == userSelected?.idUsuario
        }"
      >
        <td>{{ data.nombre }}</td>
        <td>{{ data.telefono }}</td>
        <td>{{ data.tipoUsuario }}</td>
        <td>
          <a (click)="selectUser(data)">Editar</a>
          <!-- <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteUser(data.idUsuario)">Eliminar</a> -->
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Formulario usuario"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="modeForm == 'adicion' ? saveUser() : editUser()"
  nzCancelText="Cancelar"
  [nzOkText]="modeForm == 'adicion' ? 'Guardar' : 'Editar'"
>
  <ng-container *nzModalContent>
    <div class="cls-form" [formGroup]="formGroup">
      <!-- <div class="cls-close-form" (click)="showFormUser = false">
        <span>x</span>
      </div> -->

      <div class="cls-row-form">
        <div class="cls-field-form" style="width: calc(50% - 10px)">
          <label for="">Id</label>
          <input nz-input formControlName="idUsuario" />
          <!-- <input type="text" formControlName="idUsuario" /> -->
        </div>

        <div class="cls-field-form" style="width: calc(50% - 10px)">
          <label for="">Nombre</label>
          <input nz-input formControlName="nombre" />
          <!-- <input type="text" formControlName="nombre" /> -->
        </div>
        <div class="cls-field-form" style="width: calc(50% - 10px)">
          <label for="">Teléfono</label>
          <nz-input-number
            style="width: 100%"
            [nzStep]="1"
            formControlName="telefono"
          ></nz-input-number>
          <!-- <input type="text" formControlName="telefono" /> -->
        </div>

        <div class="cls-field-form" style="width: calc(50% - 10px)">
          <label for="">Tipo usuario</label>

          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccion tipo usuario"
            formControlName="tipoUsuario"
          >
            <nz-option nzLabel="Jefe" nzValue="jefe-operaciones"></nz-option>
            <nz-option nzLabel="Propietario" nzValue="propietario"></nz-option>
            <nz-option nzLabel="Mecánico" nzValue="mecanico"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
